---
interface Props {
  mensaje: string;
}

const { mensaje } = Astro.props;
---

<div class="mascota">
  <div>
    {mensaje}
  </div>
</div>

<style>
  div.mascota {
    background: transparent url(/imglocal/bill-mascota.png) top left scroll
      no-repeat;
  }
</style>
