---
import { formatDateTime } from "@/utils/dates.ts";

interface Props {
  timestamp: number;
  withHour?: boolean;
  dataHrs?: number;
}

const { timestamp, withHour, dataHrs } = Astro.props;

const formattedDate = formatDateTime(timestamp, withHour);
---

<span class="tiempo_rel" data-time={timestamp.toString()} data-hrs={dataHrs}>
  <span class="no-excel only-movil">
    {formattedDate.mobileFormat}
  </span>
  <span class="no-excel no-movil">
    {
      withHour
        ? formattedDate.noMobileFormat.replace(",", " a las") + " hrs."
        : formattedDate.noMobileFormat
    }
  </span>
  <span class="only-excel">
    {formattedDate.excelFormat}
  </span>
</span>
