---
import { LogoutButton } from "../components/LogoutButton";
export const prerender = false;

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>g-cursos</title>
    <link rel="stylesheet" href="/style_v8756.css" />
    <!-- <link rel="stylesheet" href="/print_v8756.css" /> -->
    <link rel="stylesheet" href="/mis_canales_v8756.css" />
  </head>
  <body>
    <div id="header-content-wrapper">
      <h1 id="header">hola</h1>
      <h2 id="titulo">vicente</h2>

      <div id="content-wrapper">
        <div id="menu">
          <ul id="contenedor_opciones">
            <li id="widget_perfil">
              <a class="perfil">
                <h1>
                  <img class="logo avatar chica" src={user.photo} />
                  {user.name}
                </h1>
              </a>
            </li>
            <li class="logout">
              <LogoutButton client:visible />
            </li>
          </ul>
          <div id="modulos">
            <div id="favoritos">
              <h1>Favoritos</h1>
              <ul id="favs">
                <li>
                  <a
                    href="https://www.u-cursos.cl/usuario/7a1226f7618cacc600a3d11a181ff177/tareas_usuario/?source=favs"
                  >
                    <h1>
                      <img
                        src="https://static.u-cursos.cl/images/servicios/tareas_usuario_v8712.svg"
                        alt="Tareas"
                        class="icono"
                      />
                      <span>Mis Tareas</span>
                    </h1>
                  </a>
                </li>
              </ul>
            </div>
            <div id="cursos">
              <h1>Primavera 2024</h1>
              <ul>
                <li>
                  <a>
                    <h1>
                      <img
                        src="https://www.u-cursos.cl/d/images/cargos/alumno.svg"
                        title="Estudiante"
                        class="cargo"
                      />
                      <span>Introducción a la Programación</span>
                    </h1>
                    <h2>CC1002-{user.seccion}</h2>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="navigation-wrapper">
          <div class="curso">
            <div class="cont">
              <h1>
                <span> Introducción a la Programación </span>
              </h1>
              <h2>CC1002-2 - Primavera 2024</h2>
            </div>
          </div>
          <ul class="modulos" role="navigation">
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC4102/1/actas/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/actas_v8712.svg"
                />
                <span>Acta</span>
              </a>
            </li>
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC4102/1/clases/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/clases_v8712.svg"
                />
                <span>Clase Virtual</span>
              </a>
            </li>
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC4102/1/encuestas/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/encuestas_v8712.svg"
                />
                <span>Encuestas</span>
              </a>
            </li>
            <li class="servicio sel">
              <a href="https://www.u-cursos.cl/ingenieria/2024/2/CC1002/2/foro/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/foro_v8712.svg"
                />
                <span>Foro</span>
              </a>
            </li>
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC4102/1/historial/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/historial_v8712.svg"
                />
                <span>Historial</span>
              </a>
            </li>
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC1002/2/notas/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/notas_v8712.svg"
                />
                <span>Notas</span>
              </a>
            </li>
            <li class="servicio">
              <a
                href="https://www.u-cursos.cl/ingenieria/2024/2/CC1002/2/tareas/"
                ><img
                  alt=""
                  src="https://static.u-cursos.cl/images/servicios/tareas_v8712.svg"
                />
                <span>Tareas</span>
              </a>
            </li>
          </ul>
          <div id="navigation" class="ucursos">
            <ul id="navbar">
              <li>Foro</li>
            </ul>
            <div id="mensajes" role="status"></div>
            <h1 class="modulo">Foro</h1>
            <div id="body" role="main" class="ucursos foro classic">
              <ul class="modulo">
                <li class="sel"><a href=".">Todos los Mensajes</a></li>
              </ul>
              <h2>Todas las Categorías <em>18</em></h2>
              <div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
