<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>g-cursos</title>
    <link rel="stylesheet" href="/u-cursos.css" />
  </head>
  <body>
    <div id="header-content-wrapper">
      <header id="header">hola</header>
      <h2 id="titulo">vicente</h2>

      <div id="content-wrapper">
        <div id="menu">
          <ul id="contenedor_opciones">
            <li id="widget_perfil">
              <a class="perfil">
                <h1>
                  <img
                    class="logo avatar chica"
                    src="https://static.u-cursos.cl/r/usuario/7a/7a1226f7618cacc600a3d11a181ff177/datos_usuario/av_5d3b77e0799a3.jpg"
                  />
                  Vicente Ardiles Silva
                </h1>
              </a>
            </li>
            <li class="logout">
              <a href=""> Salir </a>
            </li>
          </ul>
          <div id="modulos">
            <div id="favoritos">
              <h1>Favoritos</h1>
              <ul id="favs">
                <li>
                  <a>
                    <h1>
                      <img />
                      <span>Mis Tareas</span>
                    </h1>
                  </a>
                </li>
              </ul>
            </div>
            <div id="cursos">
              <h1>Primavera 2024</h1>
              <ul>
                <li>
                  <a>
                    <h1>
                      <img />
                      <span>Introducción a la Programación</span>
                    </h1>
                    <h2>CC1002-2</h2>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="navigation-wrapper"></div>
      </div>
    </div>
  </body>
</html>
