---
import Layout from "../layouts/Layout.astro";
import BootSequence from "../sections/BootSequence.astro";
import LoadingSection from "../sections/LoadingSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <BootSequence />
    <!-- <LoadingSection /> -->
  </main>
</Layout>
