---
import TerminalLayout from "../layouts/TerminalLayout.astro";
import BootSequence from "../sections/BootSequence.astro";
import Terminal from "../sections/Terminal.astro";
---

<TerminalLayout title="Welcome to Astro.">
  <main>
    <!-- <BootSequence /> -->
    <Terminal />
  </main>
</TerminalLayout>
