---
import LoginLayout from "../layouts/LoginLayout.astro";
---

<LoginLayout>
  <div class="pb-2">
    <h1 class="text-3xl">ACCESO DENEGADO</h1>
    <h2 class="text-xl">Has superado la cantidad de ingresos permitidos.</h2>
  </div>
  <p class="text-lg">
    Por favor, mira este <a
      href="https://youtu.be/dQw4w9WgXcQ"
      class="text-white underline">video</a
    >
    para poder continuar.
  </p>
  <a href="/login">
    <button> Volver </button>
  </a>
</LoginLayout>
