---
import LoginLayout from "../layouts/LoginLayout.astro";
---

<LoginLayout>
  <div class="pb-6">
    <h1 class="text-3xl">ACCESO DENEGADO</h1>
    <h2 class="text-xl">Haz superado la cantidad de ingresos permitidos</h2>
  </div>
  <p class="text-lg">
    Por favor, mira este <a
      href="https://youtu.be/dQw4w9WgXcQ"
      class="text-white underline">video.</a
    >
  </p>
  <a href="/login">Volver</a>
</LoginLayout>
