---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fallo de inicio">
  <div class="container">
    <h1>Haz superado la cantidad de ingresos</h1>
    <p>Por favor, mira este video. Luego vuelve a intentar</p>
    <a href="/login">Volver</a>
  </div>
</Layout>
