---
import CommandLineText from "../components/CommandLineText.astro";
import UserPrompts from "../components/terminal/UserPrompts";
import TerminalLayout from "../layouts/TerminalLayout.astro";

export const prerender = "false";
---

<TerminalLayout>
  <div id="terminal" class="p-2 no-wrap" onclick="">
    <CommandLineText />
    <UserPrompts client:visible />
  </div>
</TerminalLayout>
