---
import ObjetoHistorial from "@/components/GCursos/ObjetoHistorial.astro";
import GCursosLayout from "@/layouts/GCursosLayout.astro";

export const prerender = false;

const user = Astro.locals.user;

if (!user) {
  return Astro.redirect("/login");
}
---

<GCursosLayout user={user} servicio="historial" title="Historial">
  <ul class="c_0">
    <li class="objetoflex">
      <ObjetoHistorial
        tituloPost="=== [SECRET] ==="
        servicio="foro"
        fecha={1729522800}
      />
    </li>
    <li class="objetoflex">
      <ObjetoHistorial
        tituloPost="Tarea 3 (parte A) - Los Mensajes Misteriosos del Misterio"
        servicio="tareas"
        fecha={1729522800}
      />
    </li>
    <li class="objetoflex">
      <ObjetoHistorial
        tituloPost="k3Y{ 1002 }"
        servicio="novedades"
        fecha={1729522800}
      />
    </li>
  </ul>
</GCursosLayout>
