---
const draw = [
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠭⠚⠿⣋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡜⠀⠱⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡐⠀⠀⠀⠑⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⣄⠀⠀⠀⠀⠀⡰⣠⠼⠚⠛⢦⣜⣆⠀⠀⠀⠀⢠⠧⢴⣶⡆",
  "⠰⠿⠛⠹⠀⠀⠀⠀⡰⡹⠃⠀⢠⠀⠀⠙⢭⣧⡀⠀⠀⠀⠳⡀⠈⠀",
  "⠀⠀⡠⠃⠀⢀⣀⡴⠙⠷⢄⠀⢸⠆⠀⣠⠾⠉⠹⣶⠦⢤⣀⡇⠀⠀",
  "⠀⠀⠉⠉⠉⠉⡰⠧⠀⠀⡵⣯⠿⠿⣭⠯⠤⠤⠤⠬⣆⠀⠈⠀⠀⠀",
  "⠀⠀⠀⠀⠀⣰⣁⣁⣀⣀⣄⣛⠉⠉⢟⠈⡄⠀⠀⠀⢈⣆⠀⠀⠀⠀",
  "⠀⠀⠀⠀⡰⡇⡘⠀⠀⠀⣰⣀⣀⣀⣀⣀⣇⣀⣀⣀⣆⣋⡂⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠘⠒⢲⠆⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢹⡀⠀⠀⠀⠸⠀⠀⠀⠀⠀⠀⠀⠀",
  "⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀",
];

function getBrowser() {
  let browser = "V";

  return browser;
}

function getBaseURL() {
  let baseURL = "localhost";

  return baseURL;
}

const whoami = "Hello, " + getBrowser();
const myDash = "-".repeat(36);
const myOS = "Operating System: " + "Gravity";
const myHost = "Host: " + getBaseURL();
const myKernel = "Kernel Version: " + "1.0.0-rc";
const myDate = "Date: " + new Date().toDateString();
const myTime = "Time: " + new Date().toLocaleTimeString();
const myShell = "Shell: " + "sh 0.9.x";
const myTheme = "Theme: " + "dark";
const myFont = "Font: Hack Bold";
const projectURL = "Project: " + "Secret";
const myHelp = "Type 'help' to get started.";
const myEnjoy = "Enjoy life!";

function printTerminal() {
  const lines = [
    whoami,
    myDash,
    myOS,
    myHost,
    myKernel,
    myDate,
    myTime,
    myShell,
    myTheme,
    myFont,
    projectURL,
    myDash,
    myHelp,
    myEnjoy,
  ];

  return lines;
}
---

<div class="command-line-text">
  <div>
    {draw.map((line, index) => <div class="text-sky-500 ">{line}</div>)}
  </div>
  <div class="flex flex-col pt-12">
    {
      printTerminal().map((line, index) => (
        <div class="text-sky-500 leading-5">{line}</div>
      ))
    }
  </div>
</div>

<style>
  .command-line-text {
    display: flex;
    margin-top: 0.1rem;
    margin-bottom: 0rem;

    white-space: pre;
    text-overflow: ellipsis;
  }
</style>
