<div id="prompt" class="flex mt-2">
  <div>
    <span class="text-green-500">v@localhost</span><span>:</span><span
      class="text-fuchsia-600">/root</span
    >
    <span>#</span>
  </div>
  <div>
    <input
      type="text"
      id="user-input"
      class="user-input text-zinc-50 bg-transparent ml-2"
      spellcheck="false"
      autocomplete="off"
    />
  </div>
</div>

<style>
  .user-input {
    min-width: 1ch;
    border: none;
    outline: none;
    background-color: transparent;
  }
</style>
