---
import bootSequence from "../data/boot_sequence.json";
const sequence = bootSequence;
---

<section>
  <div
    id="boot-sequence"
    class="flex flex-col justify-center mt-4 leading-5 whitespace-pre text-ellipsis"
  >
    {
      sequence.map((line, index) => (
        <p>{"[" + (line.delay / 1000).toFixed(6) + "]  " + line.text}</p>
      ))
    }
  </div>
</section>

<style>
  #boot-sequence {
    color: #fafafa;
    font-family: "Hack";
  }

  /* Decrease the font size for the terminal on smaller screens */
  @media (max-width: 768px) {
    #boot-sequence {
      font-size: 0.66rem;
    }
  }
</style>
