---
import CommandLineText from "../components/CommandLineText.astro";
import UserPrompts from "../components/UserPrompts";
---

<section>
  <div id="terminal" class="p-2" onclick="">
    <CommandLineText />
    <UserPrompts />
  </div>

  <style>
    body {
      color: #fafafa;
      font-family: Hack;
      font-weight: 700;
    }
  </style>
</section>
