<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>g-cursos</title>

    <link rel="stylesheet" href="/style_v8771.css" />
    <link
      rel="stylesheet"
      href="/print_v8771.css"
      media="print"
      type="text/css"
    />
    <link rel="stylesheet" href="/historial_v8771.css" type="text/css" />
  </head>
  <body class="logeado">
    <slot />
  </body>
</html>
