---
export const prerender = false;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>g-cursos</title>

    <link rel="stylesheet" href="/style_v8771.css" />
    <link
      rel="stylesheet"
      href="/print_v8771.css"
      media="print"
      type="text/css"
    />
    <link rel="stylesheet" href="/historial_v8771.css" type="text/css" />
  </head>
  <body class="logeado">
    <slot />
  </body>
</html>

<style is:global>
  #header a {
    background-image: url(/imglocal/bill-cursos2.png);
    background-size: auto 32px;
    background-position: 25px 50%;
  }

  #header,
  #contenedor_opciones {
    background-color: #151830;
  }

  img.icono {
    display: inline;
  }

  li.servicio a img {
    display: inline;
  }
</style>
