---
import "@fontsource/tomorrow";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app. Sorry :(</noscript>
    <div id="App">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Hack";
    src:
      url("/fonts/hack-regular.woff2?sha=3114f1256") format("woff2"),
      url("/fonts/hack-regular.woff?sha=3114f1256") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Hack";
    src:
      url("/fonts/hack-bold.woff2?sha=3114f1256") format("woff2"),
      url("/fonts/hack-bold.woff?sha=3114f1256") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Hack";
    src:
      url("/fonts/hack-italic.woff2?sha=3114f1256") format("woff2"),
      url("/fonts/hack-italic.woff?sha=3114f1256") format("woff");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Hack";
    src:
      url("/fonts/hack-bolditalic.woff2?sha=3114f1256") format("woff2"),
      url("/fonts/hack-bolditalic.woff?sha=3114f1256") format("woff");
    font-weight: 700;
    font-style: italic;
  }

  html {
    background: #131313;
  }

  body {
    color: #fafafa;
    font-family: Hack;
    font-weight: 700;
  }

  #boot-sequence {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin-top: 16px;

    font-weight: normal;

    white-space: pre;
    text-overflow: ellipsis;
  }

  .user-input {
    min-width: 1ch;
    border: none;
    outline: none;
    background-color: transparent;
  }
</style>
